1KGPApril2016NewMapAutoChr2.map filter=lfs diff=lfs merge=lfs -text
1KGPApril2016NewMapAutoChr2.ped filter=lfs diff=lfs merge=lfs -text
1KGP_PCA.eigenval filter=lfs diff=lfs merge=lfs -text
1KGP_PCA.eigenvec filter=lfs diff=lfs merge=lfs -text
1KGP_PCA.frq.strat filter=lfs diff=lfs merge=lfs -text
1KGP_PCA.log filter=lfs diff=lfs merge=lfs -text
1KGP_PCA.nosex filter=lfs diff=lfs merge=lfs -text
1KGPApril2016NewMapAutoChr2.bed filter=lfs diff=lfs merge=lfs -text
1KGPApril2016NewMapAutoChr2.fam filter=lfs diff=lfs merge=lfs -text
plink filter=lfs diff=lfs merge=lfs -text
L1.R filter=lfs diff=lfs merge=lfs -text
p2p.html filter=lfs diff=lfs merge=lfs -text
1KGPApril2016NewMapAutoChr2.log filter=lfs diff=lfs merge=lfs -text
L1Ex.R filter=lfs diff=lfs merge=lfs -text
environment.yml filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
1KGPApril2016NewMapAutoChr2.bim filter=lfs diff=lfs merge=lfs -text
1KGPApril2016NewMapAutoChr2.nosex filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.bed filter=lfs diff=lfs merge=lfs -text
*.bim filter=lfs diff=lfs merge=lfs -text
*.fam filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.nosex filter=lfs diff=lfs merge=lfs -text
*.ped filter=lfs diff=lfs merge=lfs -text
*.eigenval filter=lfs diff=lfs merge=lfs -text
*.eigenvec filter=lfs diff=lfs merge=lfs -text
*.strat filter=lfs diff=lfs merge=lfs -text
*.R filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
/plink filter=lfs diff=lfs merge=lfs -text
